.Card-Dialog {
    margin-top: 50px;
    position: fixed;
}

.Card-Form {
    padding: 40px;
}

.Input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 25px;

    &+.Input {
        margin-top: 25px;
    }
}

.Input-Label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: .25s ease;
}

.Input-Label-Focus {
    top: 0px;
    position: absolute;
}

.Input-Field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 20px;

    &:focus {
        outline: 0;
        border-bottom-color: #6658d3;

        &+.Input-Label {
            color: #6658d3;
            transform: translateY(-1.5rem);
        }

        &+.Input-Label-Focus {
            color: #6658d3;
        }

    }
}

.Input-Error {
    color: red;
    margin: 10px 0px 10px 0px;
}

.Action {
    margin-top: 30px;
}

.Action-Button {
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    font-weight: bold;
    background-color: #35CBBF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    color: #FFF;
    border: 0;

    &:active {
        outline: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}

.Cancel {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cancel-Button {
    cursor: pointer;
    border: none;
    background: none;
    color: #8597a3;
    text-decoration: underline;
}